html {
    position: relative;
    background-image: url("bilder/microPageBackground.JPG");
    height: 110vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
h1 {
    position: relative;
    margin-bottom: 100px;
}
p {
    text-align: center;
}
